

<header>
<h1>Listing dogs</h1>

<%= form_tag(dogs_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search for..." %>
<%= submit_tag "Find Dogs" %>
<% end %>
</header>

<% if @dogs.present? %>

<table class="show-xs">
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <!-- <td><%= image_tag dog.image.url, width:150, height:125 %></td> -->
        <!-- <td><%= image_tag dog.image.url %> -->
        <td><%= link_to image_tag dog.image.url (:thumb)%></td>
        <!-- <td><%= dog.name %></td> -->
        <td><%= link_to 'Meet ' + dog.name , dog %></td>
        <td><%= dog.age %></td>
        <td><%= dog.gender %></td>
        
        <% if current_user %>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>


<div class="hide-xs">
  <div class="center">
  <% @dogs.each do |dog| %>
          <div class="card">
            <div class="card-image">
              <p><%= link_to image_tag dog.image.url (:medium)%></p>
            </div>
      
            <div class="card-title">
              <p><%= dog.name %></p>
            </div>
            
            <div class="card-action">
              <div class="age">
                  <p><%= dog.age %></p>
              </div>
                <% if dog.gender == "male" || dog.gender == "Male" %>
                      <div class="gender male">
                        <p>M</p>
                       </div>
                <% elsif dog.gender == "female" || dog.gender == "Female" %>
                    <div class="gender female">
                     <p>F</p>
                    </div>
                <% end %>
              <div class="dog-link">
                  <p><%= link_to dog.name + "'s Info", dog %></p>
              </div>
            </div><!--/card-action-->
          </div>
      <% end %> 
  </div><!--/card-->
  </div><!--/center-->
</div><!--/hide-xs-->


  

<% else %>
  <p> Sorry, no dogs matched the term "<%= params[:search] %>".</p>
  <%= link_to 'View All Dogs', dogs_path %>
<% end %>

<br>

<% if current_user %>
<%= link_to 'Create New Dog Entry', new_dog_path %>
<% end %>
